<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title -%></title>
    <style><%= render(file: File.expand_path("../flipflop/stylesheets/_flipflop.css", __dir__)) %></style>
  </head>
  <body><%= yield -%></body>
</html>
